[mysqld]
bind-address = 0.0.0.0
datadir = /opt/tmpfs
user = mysql
skip-external-locking
skip-name-resolve

#general_log = 1
#general_log_file = /dev/stdout

max_allowed_packet = 128M
max_connect_errors = 1000000
max_connections = 100
open-files-limit = 8096
wait_timeout = 300
table_open_cache = 64

innodb_buffer_pool_size = 100M
innodb_buffer_pool_instances = 1
innodb_log_file_size = 2M
innodb_flush_log_at_trx_commit = 2
innodb_doublewrite = 0

sql_mode = ''
character-set-server = utf8
default-storage-engine = InnoDB

[client]
default-character-set = utf8

[mysqldump]
quick
quote-names
max_allowed_packet = 128M
